@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
.header {
	background: #68c93e;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 40px;
}

.troley {
	position: relative;
}

.troley img {
	width: 55px;
	margin-top: 15px;
}

.count {
	background: #2d3c8d;
	padding: 14px;
	border-radius: 50%;
	min-width: 10px;
	height: 10px;
	line-height: 10px;
	text-align: center;
	color: white;
	font-size: 11px;
	position: absolute;
	bottom: -5px;
	left: -4px;
}

.header .logo p {
	margin: 0;
	font-family: "Akaya Kanadaka", cursive;
	/* margin-top: 15px; */
	font-weight: bold;
	color: whitesmoke;
	font-size: 55px;
}

.card {
	width: 340px;
	height: 495px;
	box-sizing: border-box;
	margin-left: 30px;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.49);
}

.img-thumb-prod img {
	width: 95%;
	margin-left: 9px;
	margin-top: 9px;
}

.product-title {
	font-weight: 700;
	margin: 10px;
}

.product-price {
	color: orange;
	font-weight: 700;
	margin-left: 10px;
}

.minus,
.plus {
	color: white;
	height: 45px;
	width: 45px;
	background: rgb(0, 0, 145);
	border-radius: 5px;
	border: 0;
	margin: 2px 6px;
}

.counter {
	margin-left: 12px;
	margin-bottom: 10px;
}

.counter input {
	height: 40px;
	width: 200px;
	border-radius: 3px;
	border: 1px solid gray;
	text-align: center;
}
